<section class="property-biding">
  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolation {{url}}</p>
  </article>
  <article>
    <h3>Property Biding</h3>
    <img src="{{ urlImg }}">
    <img [src]="urlImg">
    <img bind-src="urlImg">
  </article>
  <article>
    <h3>Class e Style biding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
      <div class="alert {{classe.value}}" role="alert">Texto conforme ao Select.</div>
      <div class="alert" [class.alert-success]="classe.value === 'alert-success' " role="alert">Sucesso</div>
      <div class="alert" [class.alert-info]="classe.value === 'alert-info' " role="alert">Info</div>
      <div class="alert" [class.alert-warning]="classe.value === 'alert-warning' " role="alert">Warning</div>
      <div class="alert" [class.alert-danger]="classe.value === 'alert-danger' " role="alert">Erro</div>
      <div class="alert alert-danger" style="display:none;" [style.display]="classe.value === 'alert-danger' ? 'block' : 'none' " >Só aparece quando for Erro.</div>
    </div>
  </article>
  <article class="event-biding">
    <h3>Event biding</h3>
    <div class="row">
      <button class="button" (click)="onClick()">Me clique</button>
      <input type="text" (keyup)="onKeyup($event)"
        (keyup.enter)="onSave(campo.value)"
        (blur)="onSave(campo.value)"
        #campo>
      <div>Conteudo atual: {{conteudoAtual}}</div>
      <div>Conteudo savlo: {{conteudoSalvo}}</div>
      <br><br>
      <span (mouseover)="onMouseSpan()"
            (mouseout)="onMouseSpan()"
            [class.highlight]="isMouseOver">
            Passe o mouse sobre mim.
      </span>
    </div>
  </article>
</section>
<section class="two-way-binding">
  <article>
    <h3>Two way data-biding</h3>
    <div>
      <input type="text" [(ngModel)]="nome">

      <p>Você escreveu {{nome}}</p>
    </div>
    <div>
      <input type="text" [(ngModel)]="cor">

      <div style="width:100px;height:100px" [style.background]="cor">Você escreveu {{cor}}</div>
    </div>
  </article>
</section>